import header from '../header';
import footer from '../footer';

<!DOCTYPE html>
<html lang="en">
  <include(header) />
  <body>

    <admin-nav />

    <div class="container">

      <h1 class="mb-4">Manage Movies</h1>

      <div class="container mb-4">
        <movie-form edit="true" movie=input.movie formats=input.formats />
      </div>

    </div><!-- /.container -->


    <include(footer) />
    <script src="/static/js/admin.js"></script>
  </body>
</html>
