import header from './header';
import footer from './footer';

<!DOCTYPE html>
<html lang="en">
  <include(header) />
  <body>
    <div id="moviesApp"></div>
    <include(footer) />
  </body>
</html>
